In [4]:
import numpy as np
import pandas as pd
import random, json
import math, time

In [5]:
def statistic_shrimp(file_name):
    with open(file_name) as f:
        data = json.load(f)

    ID ,lengths, widths, areas = [], [], [], []
    for result in data:
        ID.append(result)
        lengths.append(data[result]['length'])
        widths.append(data[result]['width'])
        areas.append(data[result]['area'])
    df = pd.DataFrame({'ID':ID,'length':lengths,'width':widths,'area':areas})
    df = df.set_index('ID')
    df = df.describe()
    return df

In [6]:
file = '28'
file_name = 'predict/new_image_'+file+'_lengthAndwidth.json'
df = statistic_shrimp(file_name)
df

           length      width          area
count   16.000000  16.000000     16.000000
mean   314.312500  53.812500  16100.312500
std     62.046992   9.130307   4428.009526
min    182.000000  42.000000   8506.000000
25%    272.000000  45.000000  14729.000000
50%    340.000000  54.000000  16908.000000
75%    356.500000  59.000000  18446.000000
max    390.000000  74.000000  23264.000000

In [7]:
result = df.to_json(orient="index")
parsed = json.loads(result)
parsed

{'count': {'length': 16.0, 'width': 16.0, 'area': 16.0},
 'mean': {'length': 314.3125, 'width': 53.8125, 'area': 16100.3125},
 'std': {'length': 62.0469916005,
  'width': 9.1303066761,
  'area': 4428.0095260173},
 'min': {'length': 182.0, 'width': 42.0, 'area': 8506.0},
 '25%': {'length': 272.0, 'width': 45.0, 'area': 14729.0},
 '50%': {'length': 340.0, 'width': 54.0, 'area': 16908.0},
 '75%': {'length': 356.5, 'width': 59.0, 'area': 18446.0},
 'max': {'length': 390.0, 'width': 74.0, 'area': 23264.0}}